body {
    font-family: 'Arial', sans-serif;
    background-image: url('/adminLogin1.webp'); /* Adjust the path as needed */
    background-size: cover; /* or contain, depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-container {
    max-width: 400px;
    width: 100%;
}

.login-container {
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid wheat;
}

h1 {
    color: #3498db;
}

h3 {
    color: #e74c3c;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
.error{
    color: red;
    margin-left: 10px;
    display: block;
  
  }

